{% extends "layout.njk" %}

{% block content %}

{% block head %}

    <title> Rocketseat  - Sobre </title>
    
{% endblock %}

        <section>
            <div id="imagecontent">
                <img src="https://github.com/renygrando/rocketseat-launchbase/blob/master/html-css/assets/logo_rocketseat.jpg?raw=true" alt="Rocketseat">
                <h1>Rocketseat</h1>
                <h3>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h3>
                <ul>
                    <li>HTML</li>
                    <li>|</li>
                    <li>CSS </li>
                    <li>|</li>
                    <li>Javascript</li>
                    <li>|</li>
                    <li>ReactJs</li>
                    <li>|</li>
                    <li>AnglularJs</li>
                </ul>
            </div>
        </section>
        
{% endblock %}