{% extends "layout.njk" %}

{% block content %}

{% block head %}

    <title> Rocketseat  - Ops! A página não foi encontrada! </title>
    
{% endblock %}


<section>
    <div id="page-not-found">
        <img src="https://png2.cleanpng.com/sh/628c21005a76862ec11b836e0db3d17e/L0KzQYm3VcEyN6pwfZH0aYP2gLBuTfh1fKEyTKI9LXX1grF5Tgdmal5nitHCc3X1PYbohsY2amhqT9VtOEm3PoK3WMgxPmcASac7NkC8RIi4WMUyOWUziNDw/kisspng-http-404-error-web-browser-5af65b7e7cd894.1088066915260947185114.png">
    </div>
   </section>

{% endblock %}